*{
box-sizing: border-box;
}
body{
background-color: #F2F2F2;
padding: 15px;
font-family: "Inter", serif;
}
.page-wrapper {
 
max-width: 380px;
margin: auto;
border-radius: 100px;
box-shadow: 0px 0px 30px 0px rgba(120, 120, 120, 0.25);
 background: rgb(249, 249, 249);
}
.container{
  max-width: 380px;
  margin: auto;
}
.header{
color: #F2F2F2;
color: rgb(242, 242, 242);
padding: 40px 50px 158.5px;
border-radius: 90px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
background: url('../css/img/header-bg.png') no-repeat center /cover;
} 
.hello{
 font-size: 20px;
 font-weight: 400;
 line-height: 25px;
}
.hello-text{
font-size: 20px;
font-weight: 400;
line-height: 25px;
}
.user-avatar{
border-radius: 50%;
object-fit: cover;
border: 4px solid rgb(255, 255, 255);
margin-top: -43px;
}
.user{
margin-top: -80px;
text-align: center;
border-radius: 30px;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
background: rgb(255, 255, 255);
padding-bottom: 20px;
}
.user-name{
  margin-top: 8;
  margin-bottom: 4;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.user-description{
font-size: 15px;
font-weight: 400;
line-height: 19px;
color: rgb(149, 149, 149);
margin-top: 2px;
}
.card{
border-radius: 30px;
box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
background: rgb(255, 255, 255);
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
}
.buttons{
  display: flex;  
  justify-content: space-around;
  max-width: 300px;
  margin: auto;
  gap: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  }
.button{
 background-color: rgb(255, 255, 255);
 height: 40px;
  flex-shrink: 1;
  width: 100%;
  margin: auto;
}
